<h1>Listing votes</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Vote</th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.name %></td>
    <td><%= vote.description.upcase %></td>
  </tr>
<% end %>
</table>

<br />