<center>
  <h1>Sway Dashboard</h1>
  <h2>+1 (424) 332-5166</h2>
</center>

<div class="row">
  <div class="col-md-12 col-sm-12">
  <center>
    <h3>Latest Texts</h3>

    <table>
      <tr>
        <th style="padding:15px;">Time</th>
        <th style="padding:15px;">Phone Number</th>
        <th style="padding:15px;">Vote</th>
      </tr>

      <% @votes.each do |vote| %>
        <tr>
          <!--<td><%= time_ago_in_words(vote.created_at) %></td>-->
          <td style="padding:15px;"><%= distance_of_time_in_words(vote.created_at, Time.now, include_seconds: true) %></td>
          <td style="padding:15px;"><%= vote.name %></td>
          <td style="padding:15px;"><%= vote.description.upcase %></td>
        </tr>
      <% end %>
    </table>
    </center>
    <br />

  </div>
</div>


<script>
setTimeout(function() {
  //window.location.reload();
},1000)
</script>